* {
    font-family: "HelveticaNeue-UltraLight", "Helvetica Ultra Light", "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-weight: 600;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background-color: #000;
    color: #fff;
}

.container {
    display: flex;
    align-items: flex-end;
    min-height: 100%;
}

.calculatorContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-height: 956px;
    max-width: 440px;
    padding: 0 10px 10% 10px;
}

.calculatorScreen {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-height: 6vh;
    max-width: 94%;
    border: 0 solid black;
    font-size: 5vh;
    margin-bottom: 2vh;
}

.history {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    color: grey;
    font-size: 4vh;
}

.readout {
    display: flex;
    align-items: center;
    text-align: right;
}

.buttonsContainer {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 100%;
    row-gap: 1vh;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1vw;
}

button {
    display: flex;
    flex-basis: 20%;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    border-radius: 5vh;
    font-size: 4vh;
    border: 4px solid;
    color: #fff;
}

.number {
    background-color: gray;
    border-color: grey;
}

.function {
    background-color: orange;
    border-color: orange;
    font-size: 6vh;
    padding-bottom: 10px;
}

.modifier {
    background-color: darkgray;
    border-color: darkgrey;
}

.deleteBtn {
  padding-right: 4px;
}
